<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url" >jdbc:mysql://localhost:3306/cpj</property>
      <property name="connection.driver_class">com.mysql.jdbc.Driver</property>

      <!-- DB schema will be updated if needed -->
     <property name="hbm2ddl.auto">none</property>
      <mapping class="model.Admin"/>
      <mapping class="model.Answer"/>
      <mapping class="model.Article"/>
      <mapping class="model.Ask"/>
      <mapping class="model.Collect"/>
      <mapping class="model.CollectContent"/>
      <mapping class="model.Comment"/>
      <mapping class="model.Complaint"/>
      <mapping class="model.ComplaintAnswer"/>
      <mapping class="model.DataStatistic"/>
      <mapping class="model.Tag"/>
      <mapping class="model.TagContent"/>
      <mapping class="model.User"/>

  </session-factory>
</hibernate-configuration>